<a href="https://colab.research.google.com/github/Kimbaeda/youngwoo/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%9E%85%EB%A0%A5%2C%EC%B6%9C%EB%A0%A5(%EC%BD%94%EB%94%A9%ED%85%8C%EC%8A%A4%ED%8A%B8).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sys import stdin, stdout
input = stdin.readline 
print = stdout.write

```
3
1 2 3
4 5 6
7 8 9
```

- 2-1. 우아한 배열 입력

In [ ]:
for i in range(int(input())): 
    inputStr = input() 
    arr = list(inputStr) 
    MAP.append(arr)

3
1 2 3
4 5 6
7 8 9

In [ ]:
MAP = [list(map(int, input().split())) for _ in range(int(input()))]

3
1 2 3
4 5 6
7 8 9

In [ ]:
print(MAP)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

- 2-2. 정수와 배열이 같은 줄에 들어오는 경우

```
4 10 20 30 40
3 7 5 12
3 125 15 25
```

In [ ]:
N, *arr = map(int, input().split())

3 20 30 40 50 60

- 2-3. 문자열을 한 글자씩 배열에 저장

```
3
AAAA 
ABCA 
AAAA
```

```
arr = [['A', 'A', 'A', 'A']
       ['A', 'B', 'C', 'A']
       ['A', 'A', 'A', 'A']]
```

In [10]:
from collections import deque
N = int(input())
q = deque()
q = [list(input()) for _ in range(N)]

3
AAAA
BBBB
CCCC

In [11]:
print(q)

[['A', 'A', 'A', 'A'], ['B', 'B', 'B', 'B'], ['C', 'C', 'C', 'C']]

- 3-1. 배열을 연결해서 출력 1

```
arr = [1, 2, 3, 4] 
```

```
1234
```

In [8]:
arr = [1,2,3,4]

print(''.join(map(str, arr)))

1234

- 3-2. 배열을 연결해서 출력 2

```
arr = [1, 2, 3, 4]
```

```
1 2 3 4
```

In [12]:
arr = [1,2,3,4]

print(" ".join(map(str,arr)))

1 2 3 4

In [13]:
arr = [1,2,3,4]
print(*arr)

1 2 3 4

- 99. 보너스 무한히 값을 입력 받아서 EOF 까지 입력

In [15]:
try: 
    while 1: 
        A,B = map(int, input().split()) 
        print(A+B) 
except: 
  exit()

1 2
3
3 4
7